* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}


/**----------Stilos del lagout */
.layout {
    background-image: linear-gradient(to bottom, #63246b, #4b2374, #384da2, #4b2374, #63246b);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

header {
    height: 85dvh;
}

/**----------Stilos del menu */
.menu {
    width: 90%;
    background-color: #3b5bac;
    color: #fff;
    align-items: center;
    margin: auto;
    margin-top: 1rem;
    padding: 0 1rem;
    border-radius: 16px;
    border: 1px solid #fff9;

    position: sticky;
    z-index: 2;
    top: 0;

    animation: menu both;
    animation-timeline: view();
    animation-range-end: cover 100%;
    animation-range-start: cover 30%;
    backdrop-filter: blur(16px) saturate(180%);
    box-shadow: 0px 0px 30px #4f0e58;

    display: flex;
}

@keyframes menu {
    0% {
        background-color: transparent;
    }

    5% {
        border-radius: 0;
        width: 100%;
    }

    100% {
        border-radius: 0;
        width: 100%;
    }
}

.menu__logo {
    width: 60px;
    height: 60px;
    animation: none;
}

.menu__list {
    background-color: #48bc;
    color: #000;
    margin-left: auto;
    backdrop-filter: blur(16px) saturate(180%);
    width: 100%;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;

    display: none;
}

.list__item {
    a {
        color: inherit;
        display: block;
        text-decoration: none;
        font-size: 1.3rem;
        padding: 0.9rem 1rem;
    }
}

.text__logo {
    font-size: 2rem;
    margin-left: 10px;
}

.check__label {
    margin-left: auto;
    font-size: 4.5rem;
    user-select: none;
    cursor: pointer;
}

input[type="checkbox"] {
    display: none;
}

.label__ckeck {
    display: none;
}

.check__label:has(input[type="checkbox"]:checked)+.menu__list {
    display: flex;
}

input[type="checkbox"]:checked~.label__ckeck {
    display: block;
}

input[type="checkbox"]:checked~.label__notckeck {
    display: none;
}


/**-----------STILOS DEL MARKET  */
.market {
    width: 90%;
    max-width: 1300px;
    margin: auto;

    display: grid;
    grid-template-areas:
        "marketmenu"
        "marketgallery"
        "markettop"
        "marketsub"
    ;
    gap: 2.5rem;
}

.market__menu {
    grid-area: marketmenu;
}

.filter__lists {
    display: flex;
    list-style: none;
    overflow: hidden;
    gap: 15px;
}

.filter__item {
    flex-grow: 1;
    flex-basis: 0;
    background-color: transparent;
    color: #fff;
    text-align: center;
    border-radius: 16px;
    border: 1px solid #fff;

    a {
        display: block;
        padding: 0.8rem 0;
        color: inherit;
        text-decoration: none;
    }
}

/*----stilos de gallery  */
.market__gallery {
    grid-area: marketgallery;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.gallery__item {
    flex-basis: 30%;
    flex-grow: 1;
    min-width: 250px;
    height: fit-content;
    border-radius: 16px;
    overflow: hidden;
    border: 1px solid #fff;
    padding: 1rem;
    text-align: center;
    color: #fff;

    img {
        border-radius: 16px;
        object-fit: cover;
        height: 70%;
    }

    button {
        margin-top: 1rem;
        color: inherit;
        border: 1px solid #fff;
        background-color: transparent;
        padding: 1rem 3rem;
        border-radius: 16px;
    }
}

/*------STILOS DEL MARKET TOP */
.market__top {
    grid-area: markettop;
    color: #fff;
    text-align: center;
    border-radius: 16px;
    border: 1px solid #fff;
    overflow: hidden;
}

.top_products {
    height: 30vh;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.img__text {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-wrap: balance;
    padding: 1rem;
    gap: 10px;
    color: #fff;
    transition: transform 0.5s;

    p {
        opacity: 0.7;
    }
}

.top_products .img__text {
    background-color: #3c3d89b8;
    /* backdrop-filter: blur(2px); */
    transform: translateX(-100%);
}

.top_products:hover .img__text {
    transform: translateX(0%);
}

/**-----STILOS DE SUB  */
.market__sub {
    position: relative;
    grid-area: marketsub;
    --width-input: 80%;
    box-shadow: 0 0 5px #fff6;
    border-radius: 16px;
    img{
       display: none;
       position: absolute;
    }
}


input[type="text"],
input[type="submit"] {
    border: none;
    font-size: 1rem;
    background-color: transparent;
    color: #fffb;
}

input[type="text"] {
    padding: 0.8rem 1rem;
    width: var(--width-input);
    margin-right: -4px;
    background-color: #fff5;

}

input[type="text"]::placeholder {
    color: inherit;
    opacity: 0.7;
}

input[type="submit"] {
    padding: 0.8rem 0;
    width: calc(100% - var(--width-input));
    cursor: pointer;
    border-left: none;
    background-image: linear-gradient(to left,#384da2, #4b2374);
}

:is(input[type="text"], input[type="submit"]):focus-visible {
    outline: none;
}

.footer {
    margin-top: auto;
    background-color: #000;
    color: #fff;
    padding: 2rem;
    text-align: center;
}

/**-------------------------------------  */
@media screen and (min-width: 700px) {
    .market {
        max-width: 900px;
        margin: auto;
        display: grid;
        grid-template-areas:
            "marketmenu marketmenu marketmenu"
            "markettop markettop markettop"
            "marketgallery marketgallery marketgallery"
            "marketsub marketsub marketsub"
        ;
        gap: 1rem;
    }
    .market__sub{
        /* --width-input: 80%; */
        padding: 5rem 2rem;
        background-color: #ccc5;
        border: 1px solid #fff9;
        backdrop-filter: blur(50px);
    }

    .sub__form{

        div{
            width: 70%;
        }
        img{
            position: absolute;
            width: 30%;
            display: block;
            bottom: 0px;
            right: 0;
        }
    }
    .market{
        gap: 5rem;
    }
    input[type="submit"], input[type="text"]{
        padding: 1.5rem 1.5rem;
        font-size: 1.1rem;

    }
    input[type="submit"]{
        border-radius: 0 16px 16px 0;
    }
    input[type="text"]{
        border-radius: 16px 0 0 16px;
    }
}

@media screen and (min-width: 1000px) {
    .market {
        max-width: 1200px;
    }
}