* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

header {
    /* background-color: #fff; */
    min-height: 100dvh;
    display: flex;
    flex-direction: column;

}

.layout {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    background-image: linear-gradient(to bottom, #384da2, #4b2374);
    /* height: 100vh; */
    /* padding: 0 2rem; */

    background-image: linear-gradient(to bottom, #63246b, #4b2374, #384da2, #4b2374, #63246b);
    /* height: 100vh; */
    position: relative;

}


.menu {
    width: 90%;
    margin: auto;
    margin-top: 1rem;
    padding: 0 1rem;
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 16px;
    border: 1px solid #fff9;
    backdrop-filter: blur(16px) saturate(180%);
    background-color: #3b5bac;
    box-shadow: 0px 0px 30px #0006;

    position: sticky;
    top: 0;
    animation: menu both;
    animation-timeline: view();
    animation-range-end: cover 100%;
    animation-range-start: cover 30%;
    /* --radiomenu:16px;  */
    --rotacion: paused;

}




@keyframes menu {
    0% {
        background-color: transparent;
    }

    5% {
        border-radius: 0;
        width: 100%;
        --rotacion: rotacion;
    }

    100% {
        border-radius: 0;
        width: 100%;
        --rotacion: rotacion;

    }
}


.menu__logo {
    width: 60px;
    height: 60px;
    animation: none;
    /* animation: rotacion 0.4s infinite forwards;
    animation-play-state: var(--rotacion);
    transform: rotate(0deg); */
}

/* @keyframes rotacion {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
} */


.menu__list {
    backdrop-filter: blur(5px);
    /* filter: blur(5px); */
    background-color: #48bc;
    color: #000;
    position: absolute;
    /* filter: blur(5px); */
    width: 100%;

    /* height: 100vh; */
    margin-left: auto;
    z-index: 2;
    top: 100%;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;

    display: none;
}

.list__item {
    a {
        color: inherit;
        font-size: 1.3rem;
        padding: 0.9rem 1rem;
        display: block;
        text-decoration: none;
    }
}

.text__logo {
    font-size: 2rem;
    margin-left: 10px;
}

.check__label {
    margin-left: auto;
    font-size: 4.5rem;
    user-select: none;
    cursor: pointer;
}

input[type="checkbox"] {
    display: none;
}

.label__ckeck {
    display: none;
}

.check__label:has(input[type="checkbox"]:checked)+.menu__list {
    display: flex;
}

input[type="checkbox"]:checked~.label__ckeck {
    display: block;
}

input[type="checkbox"]:checked~.label__notckeck {
    display: none;
}

.header__background {

    height: 100%;
    /* background-color: #ccc; */
    flex-grow: 1;
    position: relative;
    color: #000;

    img {
        position: absolute;
        z-index: 1;
        display: block;
        /* background-color: #ccc; */
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    h1 {
        margin-top: 5rem;
        text-align: center;
        position: relative;
        z-index: 1;
    }
}


.market {
    /* width: 90%; */
    max-width: 1300px;
    margin: auto;
    /* padding: 0 1rem; */
}

.market__menu {
    width: 100%;

    /* animation: menu both; */
    /* animation-timeline: view();
    animation-range-end: cover 100%;
    animation-range-start: cover 30%;
    /* --radiomenu:16px;  */

}

/* @keyframes menu {
    0% {
        background-color: transparent;
    }

    5% {
        transform: scaleX(1.1) scaleY(1);
        --radiomenu: 0px;
    }


    100% {
 
        border-radius: 16px;
        --radiomenu: 0px;
        backdrop-filter: blur(50px);
        padding: 0.5rem 0;
        transform: scaleX(1.1) scaleY(1);
    }
} */


.filter__lists {
    display: flex;
    list-style: none;
    /* border-radius: 14px; */
    overflow: hidden;
    gap: 15px;
}

.filter__item {

    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    color: #fff;
    background-color: transparent;
    border-radius: 16px;
    border: 1px solid #fff;

    a {
        display: block;
        padding: 0.8rem 0;
        color: inherit;
        text-decoration: none;
    }
}

.market__gallery {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    gap: 12px;
    margin-top: 1rem;

}

.gallery__item {
    /* background-color: #ccc; */
    min-width: 300px;
    flex-basis: 30%;
    flex-grow: 1;
    border-radius: 16px;
    overflow: hidden;

    img {
        object-fit: cover;
        height: 100%;
    }
}

/**------STILOS DEL MARKET TOP */
.market__top {
    height: 20vh;
    overflow: hidden;
    border: 1px solid #000;
}

.top_products {}




.market__sub {
    margin-top: 1rem;
    /* background-color: #94c5c0; */
    /* padding: 1rem; */
    --width-input: 80%;
    box-shadow: 0 0 5px #fff6;
    border-radius: 16px;
}


input[type="text"],
input[type="submit"] {
    border: none;
    font-size: 1rem;
    background-color: transparent;
    color: #fffb;
}

input[type="text"] {
    padding: 0.8rem 1rem;
    width: var(--width-input);
    margin-right: -4px;

}

input[type="text"]::placeholder {
    color: inherit;
    opacity: 0.7;
}

input[type="submit"] {
    padding: 0.8rem 0;
    width: calc(100% - var(--width-input));
    cursor: pointer;
    border-left: none;
}

:is(input[type="text"], input[type="submit"]):focus-visible {
    outline: none;
}


.footer {
    margin-top: auto;
    background-color: #000;
    color: #fff;
    padding: 2rem;
    text-align: center;
}